.castContainer {
  padding: 10px 10px;
  margin: 0 auto;
  max-width: 1400px;

  text-align: center;

  color: #ffffff;
  border-top: 1px solid #fff;
}

.castTitle {
  margin: 15px 0;
  font-size: 30px;
}

.castAltText {
  font-size: 26px;
  margin-bottom: 25px;
}
